@import "tailwindcss";

@theme inline {
  --font-jacquard: "Jacquard 12", serif;
}

body {
  font-family: Cutive Mono, Arial;
  font-smooth: never !important;
  -webkit-font-smoothing: none;
}

* {
  -webkit-user-select: none;
  user-select: none;
}
